
.confirmation-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.7rem;
}

.confirmation-header-title {
  font-size: 2rem;
  font-weight: 600;
}

.confirmation-header-subtitle {
  color: #555;
}
