:root {
  /** Layouts **/
  --layout-mobile: 375px;
  --layout-desktop: 1440px;

  /** Colours **/
  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 0%);

  --clr-deep-teal: hsl(193, 52%, 23%);

  --clr-gray: hsl(210, 40%, 96%);
  --clr-gray-200: hsl(214, 32%, 91%);
  --clr-gray-light: hsl(0, 0%, 85%);
  --clr-gray-dark: hsl(0, 0%, 50%);
  --clr-gray-darkest: hsl(0, 0%, 20%);

  --clr-green: hsl(159, 70%, 35%);
  --clr-orange: hsl(14, 51%, 51%);
  --clr-yellow: hsl(45, 100%, 50%);
  --clr-blue: hsl(209, 51%, 51%);
  --clr-red: hsl(4, 71%, 51%);
  --clr-red-dark: hsl(4, 54%, 50%);

  /** Typography **/
  --ff-inter: 'Inter', sans-serif;
  --ff-noto: 'Noto Sans Arabic', sans-serif;
}
