.btn-auth {
  padding: 9px 14px;
  background-color: var(--clr-gray);
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
}

.btn-auth:hover {
  background-color: var(--clr-gray-200);
}

@media (max-width: 480px) {
  .btn-auth {
    display: none;
  }

  .btn-auth-mobile {
    display: block;
  }
}
