.btn-auth {
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: var(--clr-gray);
  cursor: pointer;
  border-radius: 5px;
  padding: 0 12px;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  border: none;
  outline: none;
  overflow: hidden;
}

.btn-auth:hover {
  background-color: var(--clr-gray-200);
}

@media (max-width: 480px) {
  .btn-auth {
    display: none;
  }

  .btn-auth-mobile {
    display: flex;
  }
}
