.product-image {
  object-fit: cover;
  border-radius: 20px;
  overflow: hidden;
  border: 2px solid var(--clr-gray-200);
  background-color: var(--clr-gray);
  padding: 5px;
  max-height: 350px;
  width: 350px;
  flex: auto;
}

@media (max-width: 480px) {
  .product-image {
    width: 100%;
  }
}
