.cart-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 3rem;
  background-color: var(--clr-gray);
  border-radius: 10px;
}

.cart-empty-image {
  width: 25rem;
}

.cart-empty-text {
  font-size: 1.5rem;
  color: var(--clr-gray-dark);
}
