.product-section{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

@media (max-width: 480px) {
  .product-list {
    grid-template-columns: 1fr;
  }
}
