.confirmation-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin: 2rem auto;
  gap: 2.5rem;
}

@media (max-width: 480px) {
  .confirmation-box {
    width: 100%;
  }
}
